body {
  margin-left:30%;
  margin-right: 30%;
  font-family: sans-serif;
}
h1 {
  font-family: 'Permanent Marker', cursive;
}
img {
  align-items: center;
}
h3 {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
}
